<style>
  .logo{
    width: 20%;
    height: 70px;
  }
  .logo .SHREE_LOGO{
    width: 100px;
    object-fit: cover;
    overflow-y: inherit;
  }
</style>
<header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid container-xl position-relative d-flex align-items-center justify-content-between">

      <a href="/home" class="logo d-flex align-items-center">
        <img class="SHREE_LOGO" src="image/logo.png" alt="logo">
        <h1 class="sitename"></h1> <span></span>
      </a>

      <nav id="navmenu" class="navmenu">
        <ul>
          <li><a href="/home" class="active">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/projects">Projects</a></li>
          
          <li><a href="/contact">Contact</a></li>
        </ul>
        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
      </nav>

    </div>
  </header>