<% layout('/layout/boilerplate') %>
<main class="main">

    <!-- Page Title -->
    <div class="page-title dark-background" style="background-image: url(image/page-title-bg.jpg);">
      <div class="container position-relative">
        <h1>About</h1>
        <nav class="breadcrumbs">
          <ol>
            <li><a href="/home">Home</a></li>
            <li class="current">About</li>
          </ol>
        </nav>
      </div>
    </div><!-- End Page Title -->

    <!-- About Section -->
    <section id="about" class="about section">

      <div class="container">

        <div class="row position-relative">

          <div class="col-lg-7 about-img" data-aos="zoom-out" data-aos-delay="200"><img src="image/about.jpg"></div>

          <div class="col-lg-7" data-aos="fade-up" data-aos-delay="100">
            <h2 class="inner-title">Shree Builders and Developers</h2>
            <div class="our-story">
              <h4>Est 2020</h4>
              <h3>Our Story</h3>
              <p>Shree builders and developers is a construction and property development company based in Kalyan. We specialize in constructing properties quickly and efficiently. We also assist buyers in finding their dream homes with flexible financing options. With our expertise and dedication, we aim to provide the best solutions for all your real estate needs.</p>

              
            </div>
          </div>
        </div>
      </div>


    <!-- Team Section -->
     <br> <br> <br> <br> <br><br>
    <section id="team" class="team section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Team</h2>
        <p></p>
      </div><!-- End Section Title -->

      <div class="container">

        <div  class="row gy-5">

          <div style="justify-content: center; margin:auto" class="col-lg-4 col-md-6 member" data-aos="fade-up" data-aos-delay="100">
            <div class="member-img">
              <img src="image/portfolio2.png" class="img-fluid" alt="">
              
            </div>
            <div class="member-info text-center">
              <h4>Ravindra Gaikwad</h4>
              <span>Builder/owner</span>
              <p></p>
            </div>
          </div><!-- End Team Member -->

        
        </div>

      </div>

    </section><!-- /Team Section -->

    
  </main>

  <!-- Scroll Top -->
  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Preloader -->
  <div id="preloader"></div>