<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- Favicons -->
    <link rel="stylesheet" href="/css/style.css" />
    <link href="image/logo.png" rel="icon">
    <link href="image/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com" rel="preconnect">
    <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap"
        rel="stylesheet">

    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="/vendor/aos/aos.css" rel="stylesheet">
    <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link href="/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <style>
        a {
            text-decoration: none !important;
        }

        .alert {
            display: none;
            position: fixed;
            top: 10px;
            right: 10px;
            z-index: 9999;
            min-width: 300px;
            max-width: 600px;
            padding: 15px;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            animation: fadein 0.5s, fadeout 0.5s 2.5s;
        }

        .alert-success {
            background-color: #d4edda;
            color: #155724;
        }

        .alert-error {
            background-color: #f8d7da;
            color: #721c24;
        }

        @keyframes fadein {
            from {
                top: 0;
                opacity: 0;
            }

            to {
                top: 10px;
                opacity: 1;
            }
        }

        @keyframes fadeout {
            from {
                top: 10px;
                opacity: 1;
            }

            to {
                top: 0;
                opacity: 0;
            }
        }

        .whatsapp-icon {
            position: fixed;
            bottom: 60px;
            right: 10px;
            z-index: 10000;
            background-color: #25D366;
            color: white;
            border-radius: 50%;
            padding: 15px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
            font-size: 24px;
            text-align: center;
            transition: background-color 0.3s;
            width: 50px;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .whatsapp-icon:hover {
            background-color: #128C7E;
        }
    </style>
</head>

<body>
    <%- include('../inc/header.ejs') %>
        <div>
            <!-- Success and Error message divs -->
            <div id="alert-success" class="alert alert-success"></div>
            <div id="alert-error" class="alert alert-error"></div>

            <%- body %>
        </div>
        <%- include('../inc/footer.ejs') %>

            <a href="https://wa.me/9702339995" class="whatsapp-icon" target="_blank" rel="noopener noreferrer">
                <i class="fab fa-whatsapp"></i>
            </a>

            <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
            <script src="vendor/aos/aos.js"></script>
            <script src="vendor/glightbox/js/glightbox.min.js"></script>
            <script src="vendor/imagesloaded/imagesloaded.pkgd.min.js"></script>
            <script src="vendor/isotope-layout/isotope.pkgd.min.js"></script>
            <script src="vendor/swiper/swiper-bundle.min.js"></script>
            <script src="vendor/purecounter/purecounter_vanilla.js"></script>

            <!-- Main JS File -->
            <script src="/js/route.js"></script>
            <script src="/js/script.js"></script>
            <script>

                (() => {

                    // Fetch all the forms we want to apply custom Bootstrap validation styles to
                    const forms = document.querySelectorAll('.needs-validation')

                    // Loop over them and prevent submission
                    Array.from(forms).forEach(form => {
                        form.addEventListener('submit', event => {
                            if (!form.checkValidity()) {
                                event.preventDefault()
                                event.stopPropagation()
                            }

                            form.classList.add('was-validated')
                        }, false)
                    })
                })()

            </script>

</body>


</html>
